.bg-image-logo {
  background-image: url(src/assets/fondo-grafismos-inicio.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-image-forms {
  background-image: url(src/assets/fondo-grafismos-forms.png);
  background-repeat: no-repeat;
  background-size: cover;
}

@font-face {
  font-family: AdventPro-Regular;
  src: url(./fonts/AdventPro-Regular.ttf);
}

.adventPro-regular {
  font-family: "AdventPro-Regular";
}

@font-face {
  font-family: AdventPro-SemiBold;
  src: url(./fonts/AdventPro-SemiBold.ttf);
}

.adventPro-semiBold {
  font-family: "AdventPro-semiBold";
}

@font-face {
  font-family: AlumniSans-Regular;
  src: url(./fonts/AlumniSans-Regular.ttf);
}

.alumniSans-regular {
  font-family: "AlumniSans-Regular";
}

@font-face {
  font-family: AlumniSans-Light;
  src: url(./fonts/AlumniSans-Light.ttf);
}

.alumniSans-light {
  font-family: "AlumniSans-Light";
}

@font-face {
  font-family: OpenDyslexic-Regular;
  src: url(./fonts/OpenDyslexic-Regular.woff);
}

.openDyslexic-regular {
  font-family: "OpenDyslexic-Regular" !important;
}

.filtro-epilepsia {
  filter: grayscale(80%) !important;
}

.text-azul-oscuro {
  color: #121a5e !important;
}
.bg-azul-oscuro {
  background: #121a5e !important;
}

.text-naranja {
  color: #f3840e !important;
}
.bg-naranja {
  background: #f3840e !important;
}

.text-naranja-claro {
  color: #eca85f !important;
}
.bg-naranja-claro {
  background: #eca85f !important;
}

.text-morado {
  color: #824b86 !important;
}
.bg-morado {
  background: #824b86 !important;
}

.text-amarillo-cal {
  color: rgb(244, 180, 0) !important;
}

.bg-amarillo-cal {
  background: rgb(244, 180, 0) !important;
}

.text-azul-cal {
  color: rgb(38, 132, 255) !important;
}

.bg-azul-cal {
  background: rgb(38, 132, 255) !important;
}

.text-verde-cal {
  color: rgb(51, 182, 121) !important;
}

.bg-verde-cal {
  background: rgb(51, 182, 121) !important;
}

.text-rojo-cal {
  color: rgb(255, 84, 86) !important;
}

.bg-rojo-cal {
  background: rgb(255, 84, 86) !important;
}

.text-rosa-cal {
  color: rgb(239, 139, 239) !important;
}

.bg-rosa-cal {
  background: rgb(239, 139, 239) !important;
}

.text-purpura-cal {
  color: rgb(157, 114, 245) !important;
}

.bg-purpura-cal {
  background: rgb(157, 114, 245) !important;
}

.text-turquesa-cal {
  color: rgb(64, 190, 190) !important;
}

.bg-turquesa-cal {
  background: rgb(64, 190, 190) !important;
}

.text-cafe-cal {
  color: rgb(169, 99, 30) !important;
}

.bg-cafe-cal {
  background: rgb(169, 99, 30) !important;
}


.tarjeta-funcion-plat {
  display: block;
  margin: auto;
  width: 100%;
  height: 500px;
  max-width: 350px;
  transition: 0.75s all;
}

.tarjeta-funcion-plat:hover {
  transform: scale(1.05);
  transition: 0.75s all;
}

.anim-dur-1s {
  --animate-duration: 1s;
}

.anim-delay-2s {
  --animate-delay: 2.5s;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #824b86;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #824b86;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

#enfoque {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 120px;
  z-index: 1000;
  pointer-events: none;
  box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.5);
}

#linea-central {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 3.5px;
  pointer-events: none;
  background-color: black;
}

